h1, h2 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 1.33rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin-top: 1.2em;
  text-transform: uppercase;
}

body {
  font-size: 1rem;
}

.cv-container {
  position: relative;
  width: 100%;
  max-width: 8.5in;
  padding-top: 1in;
  padding-left: 1in;
  padding-right: 1in;
  padding-bottom: 1in;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 4px 12px var(--neutral-100);
}

.section-item {
  margin-bottom: 0.6em;
}

.subhead {
  font-style: italic;
}

hr {
  border: none;
  border-top: 1pt solid var(--neutral-999);
  margin: 0em 0 0.6em 0;
}

.reference-entry {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}

.item-entry {
  margin-bottom: 1rem;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item-header > div,
.item-header > span {
  flex-shrink: 0;      /* prevents the text from compressing */
  font-size: 1rem;     /* enforces consistent font size */
}

.date-range {
  white-space: nowrap;
  font-weight: normal;
}

.two-column-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  list-style: none; /* Remove default bullets */
}

.two-column-list li::before {
  content: "•"; /* Add bullet manually */
  position: absolute;
  left: 0;
}

.two-column-list li {
  position: relative;
  padding-left: 1em;  /* space for the bullet */
  margin-left: 1.5em;   /* indent whole block */
  margin-bottom: 0em;
}

.indent-item {
  margin-left: 1.5em; /* indent item */
  margin-top: 0.5em; /* also increase top margin */
  margin-bottom: -0.5em; /* also reduce bottom margin */
}

.print-button { 
  position: absolute;
  top: 1rem;  /* distance from top inside the container */
  right: 1rem; /* distance from right inside the container */
  z-index: 10;
}

@media print {

  @page {
    margin-top: 1in;
    margin-left: 1in;
    margin-right: 1in;
    margin-bottom: 1in;
  }

  .cv-container {
    padding: 0in !important;
    box-shadow: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  a[href]:after {
    content: '';
  }

  .print-button {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  .cv-container {
    width: 100vw !important;
    margin: 0 !important;
    max-width: 100vw !important;    
    padding-left: 1rem; /* instead of 1in when screen size is small */
    padding-right: 1rem; /* instead of 1in when screen size is small */
  }

  .two-column-list {
    grid-template-columns: 1fr; /* collapse to single column */
  }

  body .main-content {
    padding: 0rem !important;
    }
}
