---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';

const allPosts = await getCollection("blog");

// Count occurrences of each tag
const tagCounts = allPosts
  .flatMap((post) => post.data.tags)
  .reduce((acc, tag) => {
    acc[tag] = (acc[tag] || 0) + 1;
    return acc;
  }, {} as Record<string, number>);

// Sort tags by frequency in descending order
const sortedTags = Object.entries(tagCounts)
  .sort((a, b) => b[1] - a[1])
  .map(([tag]) => tag);

const pageTitle = "Tag Index";
---
<BaseLayout pageTitle={pageTitle}>
  <a href="/blog" class="back-link">â† Blog Home</a>
  <div class="tags">
    {sortedTags.map((tag) => (
      <p class="tag">
        <a href={`/tags/${tag}`}>{tag}</a> <span class="tag-count">({tagCounts[tag]})</span>
      </p>
    ))}
  </div>
</BaseLayout>
