---
import { getCollection } from "astro:content";
import { ChevronRight } from "lucide-preact";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogSorter from "../components/BlogSorter.jsx"; 
import Callout from '../components/Callout.astro';

const pageTitle = "Josh Olivier - Blog";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

   <h1>Blog</h1>

<hr class="rainbow-hr">

<Callout type="tip">
  <span slot="title">
    Select <code class="btn-code icon-container-inline" style="font-weight: 400;">Tags <ChevronRight size="1rem"/></code> to filter 
    and <code class="btn-code icon-container-inline" style="font-weight: 400;">Newest <ChevronRight size="1rem"/></code>
    to sort posts.
  </span>
</Callout>

   <div style={{ marginTop: '2rem'}}>
      <BlogSorter posts={allPosts} client:load /> 
   </div>
   
</BaseLayout>
