---
import { getCollection } from "astro:content";
import { Info } from "lucide-preact";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogSorter from "../components/BlogSorter.jsx"; 
import Callout from '../components/Callout.astro';

const pageTitle = "Josh Olivier - Blog";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

   <h1>Blog</h1>

<hr class="rainbow-hr">

  <Callout type="tip">
   Select <code class="btn-code">Show Tags</code> to filter posts by tag. Use the <code class="btn-code">Newest</code> / <code class="btn-code">Oldest</code> dropdown to sort posts chronologically.
  </Callout>

   <div style={{ marginTop: '2rem'}}>
      <BlogSorter posts={allPosts} client:load /> 
   </div>
   
</BaseLayout>
