---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogSorter from "../components/BlogSorter.jsx"; 
import TOC from '../components/TOC.astro';

const pageTitle = "Josh Olivier - Blog";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

   <h1>Blog</h1>

<hr class="rainbow-hr">

<TOC />

<h2>Blog posts</h2>

   <div style={{ marginTop: '2rem'}}>
      <BlogSorter posts={allPosts} client:load /> 
   </div>

<h2>About this blog</h2>

<p>
  This blog is where I share posts about my research, hobbies like travel, triathlons, and 3D printing, 
  and anything else I find potentially useful to share.
   I also use it to share updates about my academic work, such as new publications. 
</p>
   
</BaseLayout>
