---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import aboutMePhoto from '../assets/josh-headshot-cropped.jpg';
import { Mail, UserCircle } from "lucide-preact";

const pageTitle = "Josh Olivier - Contact";
---
<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

<h1>Contact me</h1>

  <Image
    src={aboutMePhoto}
    alt="Josh Olivier"
    class="home-pic"
    loading="eager"
    priority
  />

<h2>Josh Olivier</h2>

<div class="blockquote">

  <p>Lab Manager, Functional Neuroimaging of Memory Lab</p>
  
  <p>Center for Vital Longevity, University of Texas at Dallas</p>  

  <p> 
    
    <span>

      <Mail size={"1rem"} class="inline-block mr-1" />  &nbsp;

      <!-- email address link obfuscated using https://www.albionresearch.com/tools/obfuscator -->
      <a 
        href='&#109;ailt&#111;&#58;&#106;osh%75%61m&#37;&#54;&#70;li%&#55;6%6&#57;&#101;r%4&#48;g%6&#68;&#37;6&#49;il&#46;c&#111;%6D' 
        target="_blank" 
        rel="noopener noreferrer" 
        style="display:inline-flex; align-items:center; text-decoration:none;"
      >
        <span style="text-decoration:underline;">j&#111;shuamolivi&#101;r&#64;gmail&#46;&#99;om</span>
      </a>

    </span>

  </p>

  <p>

    <span>

      <UserCircle size={"1rem"} class="inline-block mr-1" />  &nbsp;

      <a 
        href="https://linkedin.com/in/joshua-olivier/" 
        target="_blank" 
        rel="noopener noreferrer" 
        style="display:inline-flex; align-items:center; text-decoration:none;"
      >
        <span style="text-decoration:underline;">LinkedIn</span>
      </a>

    </span>

  </p>

  <p>

    <span>

      <UserCircle size={"1rem"} class="inline-block mr-1" />  &nbsp;

      <a 
        href="https://bsky.app/profile/josholivier.bsky.social" 
        target="_blank" 
        rel="noopener noreferrer" 
        style="display:inline-flex; align-items:center; text-decoration:none;"
      >
        <span style="text-decoration:underline;">Bluesky</span>
      </a>

    </span>

  </p>

</div>

</BaseLayout>