---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from 'astro:assets';
import aboutMePhoto from '../assets/josh-headshot-cropped.jpg';

const pageTitle = "Josh Olivier — Contact";
---
<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>
<Image src={aboutMePhoto} alt="Josh Olivier" class="about-pic" />
<h1>Josh Olivier</h1>
<p><strong>Lab Manager/Research Assistant II</strong>
    <br>Functional Neuroimaging of Memory Lab, Center for Vital Longevity
    <br>University of Texas at Dallas
</p>

<h3>
    <!-- email address link obfuscated using https://www.albionresearch.com/tools/obfuscator -->
    <a href='&#109;ailt&#111;&#58;&#106;osh%75%61m&#37;&#54;&#70;li%&#55;6%6&#57;&#101;r%4&#48;g%6&#68;&#37;6&#49;il&#46;c&#111;%6D'>j&#111;shuamolivi&#101;r&#64;gmail&#46;&#99;om</a>
</h3>

<h3>
    <a href="https://linkedin.com/in/joshua-olivier/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</h3>

<h3>
    <a href="https://bsky.app/profile/josholivier.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a>
</h3>
</BaseLayout>