---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "CV";
---
<BaseLayout pageTitle={pageTitle}>
  <a href="/The.pdf" target="_blank" rel="noopener noreferrer">Download my CV</a>
</BaseLayout>