---
import Social from './social.astro';
import { Image } from 'astro:assets';
import joshHeadshot from '../assets/josh-headshot-cropped.jpg';
---

<style>
  footer {
    display: flex;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    flex-direction: column;
    margin-top: 2rem;
    background-color: #f0f0f0;
    padding: 2rem 1rem 4rem 1rem;
  }

  .footer-inner {
      max-width: 90ch; /* match main page content width */
      margin: 0 auto;   /* center it horizontally */
    }

  .footer-top {
    display: flex; /* side-by-side layout for pic + text */
    padding: 0rem;
  }

  .profile-pic {
    margin-right: 1rem;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 5px;
    margin-top: 1.5rem;
  }

  .footer-text {
    flex: 1; /* takes up remaining space */
  }

  .social-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0rem;
  }

  @media (max-width: 635px) {
    .footer-top {
      flex-direction: column;
    }
    .profile-pic {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
</style>

<footer>
  <div class="footer-inner">
    <div class="footer-top">
      <Image src={joshHeadshot} alt="Josh Olivier" class="profile-pic" />
      <div class="footer-text">
        <h3>Hi, I'm Josh Olivier!</h3>
        <div>I'm a lab manager in a neuroimaging research lab in Dallas, Texas. I'm interested in researching how memory, brain structure, and brain function are related.
          I also love traveling, 3D printing, triathlons, and tereré 🧉.
        </div>
      </div>
    </div>

    <h5>Find me elsewhere on the web:</h5>

    <div class="social-container">
      <Social platform="bsky.app" username="profile/josholivier.bsky.social" displayName="Bluesky"/>
      <Social platform="linkedin.com" username="in/joshua-olivier/" displayName="LinkedIn"/>
      <Social platform="github.com" username="josholiv" displayName="GitHub" />
      <Social platform="thingiverse.com" username="josholiv" displayName="Thingiverse" />
      <Social platform="orcid.org/" username="0009-0002-3696-5552" displayName="ORCiD"/>
      <Social platform="scholar.google.com" username="citations?view_op=list_works&hl=en&hl=en&user=pXjS6H0AAAAJ" displayName="Google Scholar"/>
    </div>
  </div>
</footer>
