---
import { Menu, X } from "lucide-preact";
---
<button class="hamburger" id="hamburger" type="button" aria-label="Toggle navigation menu">
  <Menu size={28} strokeWidth={2.25} class="hamburger-icon hamburger-icon-menu" aria-hidden="true" />
  <X size={28} strokeWidth={2.25} class="hamburger-icon hamburger-icon-close" aria-hidden="true" />
</button>