---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
      <div class="mobile-bar">
        <Hamburger />
      </div>
      <Navigation />
      <ThemeIcon />
    </nav>
</header>

<style>
  nav {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .mobile-bar {
    display: flex;
    align-items: center;
    width: 100%;
  }

  @media (max-width: 639px) {
    nav > :global(#themeToggle) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @media (min-width: 640px) {
    .mobile-bar {
      display: none;
    }

    nav > :global(#themeToggle) {
      margin-left: auto;
    }
  }
</style>