---
const pathname = Astro.url.pathname;
---
<div class="nav-links">
    <a href="/" class={`home-link ${pathname === "/" ? "active" : ""}`}>Josh Olivier</a>
    <a href="/about" class={pathname === "/about" || pathname === "/about/" ? "active" : ""} >About</a>
    <a href="/cv" class={pathname === "/cv" || pathname === "/cv/" ? "active" : ""} >CV</a>
    
    <!-- make "blog" active when you're on a /blog, /posts, or /tags page, so the "blog" navigation link stays highlighted when you click on a blog post or the tags index-->
    <a href="/blog" class={pathname.startsWith("/blog") || pathname.startsWith("/posts") || pathname.startsWith("/tags") ? "active" : ""} >Blog</a>

    <!-- <a href="/tags" class={pathname === "/tags" || pathname === "/tags/" ? "active" : ""} >Tags</a> -->
</div>

