---
const pathname = Astro.url.pathname;
---
<div class="nav-links">
    <a href="/" class={pathname === "/" ? "active" : ""} >Josh Olivier</a>
    <a href="/about" class={pathname === "/about" || pathname === "/about/" ? "active" : ""} >About</a>
    <a href="/cv" class={pathname === "/cv" || pathname === "/cv/" ? "active" : ""} >CV</a>
    <a href="/blog" class={pathname === "/blog" || pathname === "/blog/" ? "active" : ""} >Blog</a>
    <!-- <a href="/tags" class={pathname === "/tags" || pathname === "/tags/" ? "active" : ""} >Tags</a> -->
</div>