---
import { Home, Info, GraduationCap, Rss, Contact } from "lucide-preact";
const pathname = Astro.url.pathname;
---
<div class="nav-container">
<div class="nav-links">
  <div class="nav-links-inner">
  <div class="nav-links-home">
  <a href="/" class={`${pathname === "/" ? "active" : ""}`}>
    <span class="icon-container">
      <Home size={"1rem"} class="nav-icon"/>
      Home
    </span>
  </a></div>
  <a href="/about" class={`${pathname === "/about" || pathname === "/about/" ? "active" : ""}`}>
    <span class="icon-container">
      <Info size={"1rem"} class="nav-icon"/>
      About
    </span>
  </a>
  <a href="/cv" class={`${pathname === "/cv" || pathname === "/cv/" ? "active" : ""}`}>
    <span class="icon-container">
      <GraduationCap size={"1rem"} class="nav-icon"/>
      CV
    </span>
  </a>
  <a href="/blog" class={`${pathname.startsWith("/blog") || pathname.startsWith("/posts") || pathname.startsWith("/tags") ? "active" : ""}`}>
    <span class="icon-container">
      <Rss size={"1rem"} class="nav-icon"/>
      Blog
    </span>
  </a>
  <a href="/contact" class={`${pathname === "/contact" || pathname === "/contact/" ? "active" : ""}`}>
    <span class="icon-container">
      <Contact size={"1rem"} class="nav-icon"/>
      Contact
    </span>
  </a>
  </div>
</div>

</div>