---
const pathname = Astro.url.pathname;
import { Home, Info, GraduationCap, Rss, Contact } from "lucide-preact";
---
<div class="nav-links">

    <a href="/" class={`${pathname === "/" ? "active" : ""}`}>
  <Home size="1rem" class="nav-icon" />
  <span class="nav-text">JoshOlivier.com</span>
</a>

<a href="/about" class={`${pathname === "/about" || pathname === "/about/" ? "active" : ""}`}>
  <Info size="1rem" class="nav-icon" />
  <span class="nav-text">About</span>
</a>

<a href="/cv" class={`${pathname === "/cv" || pathname === "/cv/" ? "active" : ""}`}>
  <GraduationCap size="1rem" class="nav-icon" />
  <span class="nav-text">CV</span>
</a>

<a href="/blog" class={`${pathname.startsWith("/blog") || pathname.startsWith("/posts") || pathname.startsWith("/tags") ? "active" : ""}`}>
  <Rss size="1rem" class="nav-icon" />
  <span class="nav-text">Blog</span>
</a>

<a href="/contact" class={`${pathname === "/contact" || pathname === "/contact/" ? "active" : ""}`}>
  <Contact size="1rem" class="nav-icon" />
  <span class="nav-text">Contact</span>
</a>


</div>
