---
const { platform, username, icon: Icon, displayName = platform } = Astro.props;
---
<style>
  .social-link::after {
    display: none !important; /* remove external link icon from social links*/
  }

  .icon-container-inline {
    color: var(--link-color);
  }

  .icon-container-inline:hover {
    color: var(--link-color-hover);
  }

  .social-link {
    text-decoration: none;
    color: inherit;
  }
</style>

<div class="icon-container-inline">
  
  {Icon && <Icon size={"1rem"}/>}

  <a 
    href={`https://${platform}/${username}`} 
    target="_blank" 
    rel="noopener noreferrer" 
    class="social-link">
  
    {displayName} 
    
  </a>

</div>
