---
const { platform, username, displayName = platform } = Astro.props;
---
<a href={`https://${platform}/${username}`} target="_blank" rel="noopener noreferrer" class="social-link">
  {displayName}
</a>

<style>
  .social-link {
    padding: 0.5rem 1rem;
    color: #ffffe5 !important; 
    background-color: #41ab5d;
    text-decoration: none;
    border-radius: 1rem;
    font-family: monospace;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .social-link:hover {
    background-color: #addd8e;
  }

  .social-link:visited {
    color: #ffffe5; 
  }

  /* dark mode */
  html.dark .social-link {
    color: #ffffe5; 
  }

  html.dark .social-link:visited {
    color: #ffffe5; 
  }
</style>