---
const { platform, username, displayName = platform } = Astro.props;
---
<a href={`https://${platform}/${username}`}>{displayName}</a>

<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #00AB4E;
      text-decoration: none;
    }
  </style>