---
const { platform, username, icon: Icon, displayName = platform } = Astro.props;
---

<span class="icon-container">
  
  {Icon && <Icon size={"1.2rem"} style={{color: "var(--neutral-500)"}}/>} &nbsp;

  <a 
    href={`https://${platform}/${username}`} 
    target="_blank" 
    rel="noopener noreferrer" 
    class="social-link">
  
    {displayName} 
    
  </a>

</span>
