---
const { platform, username, displayName = platform } = Astro.props;
---
<a href={`https://${platform}/${username}`} target="_blank" rel="noopener noreferrer" class="social-link">
  <slot name="icon" />
  <span>{displayName}</span>
</a>

<style>
  .social-link {
    display: inline-flex;
    align-items: center;
    font-family: monospace;
    font-size: 1rem;
    font-weight: normal;
  }
</style>
