---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle, shouldCenterTitle, shouldShowTitle = true } = Astro.props;
---

<html lang="en">
  <head />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.typekit.net/qck4nvy.css"> <!--- Gill Sans Nova font family from Adobe Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> <!--- Lato font family from Google Fonts -->
    <link rel="icon" type="image/svg+xml" href="/josh-favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LZBBDCSVZC"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-LZBBDCSVZC');
  </script>

  <body>
    <div class="page-wrapper">
      <Header />
      <main class="main-content">
         {shouldShowTitle && (
          <h1 class={shouldCenterTitle ? 'center-title' : ''}>{pageTitle}</h1>
        )}
        <slot />
      </main>
      <Footer />
    </div>
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
  </html>

